.latest_box
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
.latest_box img
{
    width: 355px;
    height: 300px;
}
.latest_box .titles
{
    margin: 15px 0px;
}
.latest_box p
{
    color: gray;
}
.latest_box .latest_icons i
{
    color: green;
    padding: 0px 10px;
}